<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div #dataDogChart></div>

            <div>
                <p>
                        <label class="m-left-35"> 
                            X axis - Point of time
                            Y axis - No of total API requests
                        </label>
                        <br><br>
                        <strong>Source : Datadog</strong>
                        This graph depicts the number of REST API requests at any given point of time.
                        
                        We can show any specific api to this kind of visualization, which can give information like number of times it has been called within given period of time.
                 </p>
            </div>
        </div>
        <div class="col-xs-12">
            <div #chart404></div>
            <div>
                    <p>
                            <label class="m-left-35"> 
                                    X axis - Point of time
                                    Y axis - No of total requests which seen error page 404 by the user
                                </label>
                                <br><br>
                                <strong>Source : Datadog</strong>
                                This depicts the no failed request (For any reason except host is down) at any given point of time.
                
                                This will help understand how many times the end user has seen 400 bad request page while working with the app    
                    </p>
                </div>
        </div>
        <!-- <div class="col-xs-12">
                <div #chartLatency></div>
                <div>
                        <p>
                                <label class="m-left-35"> 
                                       Latency
                                    </label>
                                    <br><br>
                                    Latency </p>
                    </div>
            </div> -->
        
        <div class="col-xs-12">
            <div #diskUsageChart></div>
            <div>
                    <p>
                            <label class="m-left-35"> 
                                   Disk usage out of total disk volume in GB
                                </label>
                                <br><br>
                                
                        <strong>Source : Datadog</strong>
                                This visualizes the disk utilization within given point of times as aggregated value, 
                                which can help monitor disk usage & take the necessary action if something goes wrong.<br>
                                It shows red color for value above 90%, yellow above 50% & green for above 10%
                            </p>
                </div>
        </div>
        <div class="col-xs-12">
            <div #chartUsers></div>
            <div>
                    <p>
                            <label class="m-left-35"> 
                                    Number of total active users since last 30 days
                                    
                                </label>
                                <br><br>
                                <strong>Source : Google analytics</strong>
                                We can show number of live users currently working with the app based on the regions they are located in. 
                                Top 5 pages mostly visited by the users, 
                                Devices from which users access the app like desktop, ipads, mobiles
                            </p>
                </div>
        </div>

        <div class="col-xs-12">
            <div #pageviews></div>
            <div>
                    <p>
                            <label class="m-left-35"> 
                                    Number of most visited pages by users in last 30 days
                                    
                                </label>
                                <br><br>
                                <strong>Source : Google analytics</strong>
                                Shows most visited pages by all the users in last 30 days.
                                We can show number of live users currently working with the app based on the regions they are located in. 
                                Top 5 pages mostly visited by the users, 
                                Devices from which users access the app like desktop, ipads, mobiles
                            </p>
                </div>
        </div>

    </div>
</div>

<!-- <div #solarChart ></div> -->