<div class="">
    <div class="row">
        <div class="col">

            <!-- <div *ngFor="let tech of trackings">
                <button class="btn btn-primary" (click)="setTechnician(tech.id)" >{{tech.id}}</button><br><br>
            </div> -->
            <div #techniciansChart></div>
        </div>
        <div class="col">

            <!-- <agm-map #AgmMap [latitude]="lat" [longitude]="lng" [zoom]="14" >
                <agm-marker [latitude]="lat" [longitude]="lng"  ></agm-marker>
                <agm-polyline [geodesic]="true">
                    <agm-polyline-point *ngFor="let data of lines" [latitude]="data.latitude" [longitude]="data.longitude">
                        <agm-marker [latitude]="data.latitude" [longitude]="data.longitude"  ></agm-marker>
                    </agm-polyline-point>
                </agm-polyline>
            </agm-map> -->
            <div *ngIf="isEnabled" class="map"
                leaflet
                [leafletOptions]="options" 
                (leafletMapReady)="onMapReady($event)"
                [leafletLayersControl]="layersControl">
            </div>
        </div>
    </div>
</div>